<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<div class="client-container">
    <ng-container *ngIf="session$ | async as session">
      <div class="teams">
        <div class="team left">{{ session.leftTeam }}</div>
        <div class="team center">Best of {{ session.bestOf }}</div>
        <div class="team right">{{ session.rightTeam }}</div>
      </div>
  
      <div class="current-turn">
        {{ getCurrentTurn(session) }}
      </div>
  
      <div class="maps-container">
        <div
          *ngFor="let map of session.mapStates"
          class="map-tile"
          [ngClass]="{
            banned: map.banned,
            'banned-left': map.bannedBy === 0,
            'banned-right': map.bannedBy === 1,
            picked: map.selectedBy,
          }"
          (click)="onMapClick(map, session)"
          [style.background-image]="'url(' + map.imageUrl + ')'"
        >
          <div class="map-overlay">
            <span class="map-name">{{ map.name }}</span>
            <img
              *ngIf="map.banned"
              src="assets/mics/crossmark.png"
              class="crossmark"
              alt="Banned"
            />
            <div *ngIf="map.selectedBy !== undefined" class="side-info">
              <div class="team">
                {{
                  map.selectedBy ? session.rightTeam : session.leftTeam
                }}
              </div>
              <div *ngIf="map.side !== undefined" class="side">{{ map.side ? "DEFENDER" : "ATTACKER"}}</div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  
    <!-- Side Selection Modal -->
    <div *ngIf="showSideSelection" class="modal-container">
      <div class="side-selection-modal">
        <h2 class="title">Choose side for </h2>
        <div class="side-options">
          <button class="side-button defender" (click)="onSideSelect(0)">
            DEFENDER
          </button>
          <button class="side-button attacker" (click)="onSideSelect(1)">
            ATTACKER
          </button>
        </div>
      </div>
      <div class="modal-backdrop"></div>
    </div>
  
    <ng-template #noSession>
      <div *ngIf="isLoading" class="loading">Loading session...</div>
      <div *ngIf="error" class="error">
        {{ error }}
      </div>
      <div *ngIf="!isLoading && !error" class="no-session">No active session</div>
    </ng-template>
    <img
      src="assets/mics/V_Lockup_Horizontal_Pos_Off-White.png"
      alt="Valorant Logo"
      class="valorant-logo"
    />
    <img
      src="assets/mics/element1.png"
      alt="Corner Element"
      class="corner-element top-left"
    />
    <img
      src="assets/mics/element1.png"
      alt="Corner Element"
      class="corner-element top-right"
    />
    <img
      src="assets/mics/element1.png"
      alt="Corner Element"
      class="corner-element bottom-left"
    />
    <img
      src="assets/mics/element1.png"
      alt="Corner Element"
      class="corner-element bottom-right"
    />
  </div>